<!DOCTYPE html>
<html>
<head>
	<title>When travel is in your DNA</title>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >  
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
	<body>
		
 
 <nav  id='navOnIndex' class="navbar navbar-expand-lg navbar-custom">  
    <a class="navbar-brand" href="/index">Triple Trip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> <i style='font-size: 1.5em; color: white;' class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span>
   </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Top Trips <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index/filter">All Trips</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/index/new">Add Trip</a>
      </li>
    </ul>
    
     <ul style='margin-right: 2%' class="nav navbar-nav navbar-right">
        <form action='/index' method="GET" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='search' type="search" placeholder="Search by Title" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" value='search' type="submit">Search</button>
        </form>
        
          <% if(currentUser){ %> 
               <li style='padding-left: 2%' class="dropdown">
                    <a style='color: white' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %> <span class="caret"></span></a>
                         <ul style='background-color: orange; border: 2px solid white; border-radius: 10px;' class="dropdown-menu">
                              <!--if(!currentUser) - checks if there is NO current user then show Login and Register-->
                          
                               
                              <li> <a class="nav-link" href="/user/<%= currentUser.id%>">Profile </a> </li>
                              <li> <a class="nav-link" href="/logout">Logout </a> </li>
                              
                                
                         </ul>
               
               
          
          <% } else { %>
               <li> <a  class="nav-link" href="/login">Login </a></li>
               <li><a  class="nav-link" href="/register">Register</a></li>
               <% } %>  
               
               
          </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
 
    <!--FLASH MESSAGES-->
    
    <div style="position: absolute; top:14vh; left:10%; width:100%; opacity:0.8; " class="container">
         <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" role="alert">
                   <%= error %>
              </div>
         <% } %>
         <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                   <%= success %>
              </div>
         <% } %>
    </div>



 