  <% var map%>
  <!-- Resources -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

   <div class='container'>
        <br>
        <br>
        <br>
        <br>
          <h3>Select all countries you have ever visited</h3>
          <div style='width: 100%; height: 80vh; opacity:0.7' id="chartdivReg"></div>
          <div id="info">Visited countries: <span id="selected">-</span></div>
 
   </div>
   
<script>
    let map = AmCharts.makeChart("chartdivReg", {
      "type": "map",
      "theme": "dark",
      "projection": "eckert3",
      "dataProvider": {
        "map": "worldLow",
        "getAreasFromMap": true
      },
      "areasSettings": {
        "selectedColor": "#CC0000",
        "selectable": true,
        "autoZoom": true,
      },
      /* Add click event to track country selection/unselection */
      "listeners": [{
        "event": "clickMapObject",
        "method": function(e) {
          
          // Ignore any click not on area
          if (e.mapObject.objectType !== "MapArea")
            return;
          
          var area = e.mapObject;
          
          // Toggle showAsSelected
          area.showAsSelected = !area.showAsSelected;
          e.chart.returnInitialColor(area);
          
          // Update the list
          document.getElementById("selected").innerHTML = JSON.stringify(getSelectedCountries());
          document.getElementById("countriesVisited").value = JSON.stringify(getSelectedCountries());
          
        }
      }]
    });
    
    /* Function which extracts currently selected country list.
     */
    function getSelectedCountries() {
      var selected = [];
        
      for(var i = 0; i < map.dataProvider.areas.length; i++) {
        if(map.dataProvider.areas[i].showAsSelected)
          selected.push(map.dataProvider.areas[i].id);
      }
      return selected;
    }

</script>