<% include ./partials/header     %>
<% var map%>
<style>
#chartdiv {
  width: 50%;
  height: 300px;
  margin: 0 auto;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<!-- Chart code -->
<!--<script>-->
<!--let currentlySelected;-->
<!--/**-->
<!-- * Create the map-->
<!-- */-->
<!-- map = AmCharts.makeChart("chartdiv", {-->
<!--  "type": "map",-->
<!--  "theme": "light",-->
<!--  "projection": "eckert3",-->
<!--  "dataProvider": {-->
<!--    "map": "worldLow",-->
<!--    "getAreasFromMap": true-->
<!--  },-->
<!--  "areasSettings": {-->
<!--    "selectedColor": "#CC0000",-->
<!--    "selectable": true,-->
<!--    "autoZoom": true,-->
<!--  },-->
<!--  /**-->
<!--   * Add click event to track country selection/unselection-->
<!--   */-->
<!--  "listeners": [{-->
<!--    "event": "clickMapObject",-->
<!--    "method": function(e) {-->
      
      <!--// Ignore any click not on area-->
<!--      if (e.mapObject.objectType !== "MapArea")-->
<!--        return;-->
<!--      var area = e.mapObject;-->
      <!--// Toggle showAsSelected-->
<!--      area.showAsSelected = !area.showAsSelected;-->
<!--      e.chart.returnInitialColor(area);-->
      
      <!--// Update the list-->
<!--      document.getElementById("selected").innerHTML = JSON.stringify(getSelectedCountries());-->
<!--    }-->
<!--  }]-->
<!--});-->

<!--/**-->
<!-- * Function which extracts currently selected country list.-->
<!-- * Returns array consisting of country ISO2 codes-->
<!-- */-->
<!--function getSelectedCountries() {-->
<!--  var selected = [];-->
<!--  for(var i = 0; i < map.dataProvider.areas.length; i++) {-->
<!--    if(map.dataProvider.areas[i].showAsSelected)-->
<!--      currentlySelected = map.dataProvider.areas[i].enTitle;-->
<!--      document.getElementById('countryInput1').value=currentlySelected;-->
<!--      document.getElementById('chartdiv').style.display='none';-->
<!--  }-->
<!--  return selected;-->
<!--}-->
<!--</script>-->

 
<!--<div id="chartdiv"></div>-->
 
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div class='container'>
<h1>Select all countries you have ever visited</h1>
<script>
  /**
 * Create the map
 */
var map = AmCharts.makeChart("chartdiv", {
  "type": "map",
  "theme": "light",
  "projection": "eckert3",
  "dataProvider": {
    "map": "worldLow",
    "getAreasFromMap": true
  },
  "areasSettings": {
    "selectedColor": "#CC0000",
    "selectable": true
  },
  /**
   * Add click event to track country selection/unselection
   */
  "listeners": [{
    "event": "clickMapObject",
    "method": function(e) {
      
      // Ignore any click not on area
      if (e.mapObject.objectType !== "MapArea")
        return;
      
      var area = e.mapObject;
      
      // Toggle showAsSelected
      area.showAsSelected = !area.showAsSelected;
      e.chart.returnInitialColor(area);
      
      // Update the list
      document.getElementById("selected").innerHTML = JSON.stringify(getSelectedCountries());
      document.getElementById("countriesVisited").value = getSelectedCountries();
      document.getElementById("countryCode").value=selectedCode;
    }
  }]
});

/**
 * Function which extracts currently selected country list.
 * Returns array consisting of country ISO2 codes
 */
function getSelectedCountries() {
  var selected = [];
    
  for(var i = 0; i < map.dataProvider.areas.length; i++) {
    if(map.dataProvider.areas[i].showAsSelected)
      selected.push(map.dataProvider.areas[i].enTitle);
      
  }
  return selected;
}
</script>
<div id="chartdiv"></div>
<div id="info">Visited countries: <span id="selected">-</span></div>



</div>






<!--Register Form-->




<div class="container">
    
  <form action="/register" method="POST" style="width: 80 %;" class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="first" placeholder="name">
    </div>
    
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last" placeholder="last name">
    </div>
    
    <div class="field">
      <label>E-mail</label>
      <input type="text" name="email" placeholder="email">
    </div>
    <div class="field">
      <label>Home Country</label>
      <input id='countryInput1' type="text" name="homeCountry" placeholder="Home Country">
    </div>
    <div class="field">
      <label>Home City</label>
      <input type="text" name="homeCity" placeholder="Home City">
    </div>
    <hr>
    <div class="field">
      <label>Countries Visited</label>
      <input id="countriesVisited" type="text" name="countriesVisited" placeholder="Countries Visited">
    </div>
    <div class="field">
      <label>Cities Visited</label>
      <input id="citiesVisited" type="text" name="citiesVisited" placeholder="Cities Visited">
    </div>
    <hr>
      <div class="field">
      <label>Country Code</label>
      <input id="countryCode" type="text" name="countryCode" placeholder="countryCode">
    </div>
    <hr>
    
    <div class="field">
      <label>User Name</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="password">
    </div>
    
    <div class="field">
      <label>Avatar</label>
      <input type="text" name="avatar" placeholder="insert URL to your avatar">
    </div>
   
    <div class="field">
      <div>
        <input type="checkbox"  required>
        <label style="padding-top: 3px;">I agree to the <a href="/">Terms and Conditions</a></label>
      </div>
    </div>
    
      <button class="ui button" type="submit">Submit</button>
  
  </form>
    
</div>
 
<!--End of register Form-->
 
<% include ./partials/footer %>
