<% include ../partials/headerForIndex %>
<iframe class="editIframe"  src="https://www.youtube.com/embed/4D0hT44D9Jw?autoplay=1&controls=0&loop=1&mute=1&list=PLQmom3TCTIdx5OnTUTOw5hl_4qCTYFqQA;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe>

 <!--Register Form-->
<div class='container'>
  <br>
  
<% include ../partials/registerNewUserMap %>
  <div class='container'> 

    
    <form id='formOnReg' action="/register" method="POST" style="width: 80 %;" class="ui form">
          
    <div class="field customField">
      <label>Name</label>
      <input required type="text" name="first" placeholder="name">
    </div>
    
    <div class="field customField">
      <label>Last Name</label>
      <input required type="text" name="last" placeholder="last name">
    </div>
    
    <div class="field customField">
      <label>E-mail</label>
      <input type="text" name="email" placeholder="email">
    </div>
    
    <div class="field customField">
      <label>Home Country</label>
      <input id='homeCountry' type="text" name="homeCountry" placeholder="Home Country">
    </div>
    
    <div class="field customField">
      <label>Home City</label>
      <input type="text" name="homeCity" placeholder="Home City">
    </div>
    
    <br>
    <div class="field customField">
      <label>Countries Visited</label>
      <input id="countriesVisited" type="text" name="countriesVisited" placeholder="Countries Visited">
    </div>
     
    
    <br>
      <div class="field customField">
      <label>Country Code</label>
      <input id="countryCode" type="text" name="countryCode" placeholder="countryCode">
    </div>
    
    <br>
    <div class="field customField">
      <label>User Name</label>
      <input required type="text" name="username" placeholder="Username">
    </div>
    
    <div class="field customField">
      <label>Password</label>
       <input onfocus="this.value=''" type="password" name='password' value="FakePSW" id="myInput"><br><br>
       <input type="checkbox" onclick="myFunction()">Show Password
      <script>
          function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                  x.type = "text";
              } else {
                  x.type = "password";
              }
          }
      </script>

    </div>
  
    <div class="field customField">
      <label>Social Media</label>
      <span class="btn facebook"><i class="fa fa-facebook"></i> <input type="text" name="facebookURL" placeholder="facebook profile URL"></span>
      <span class="btn twitter"><i class="fa fa-twitter"></i> <input type="text" name="twitterURL" placeholder="facebook profile URL"></span>

    </div>
        
    
 
    <div class="field customField">
      <div>
        <input  type="checkbox"  required>
        <label style="padding-top: 3px;">I agree to the <a href="/">Terms and Conditions</a></label>
      </div>
    </div>
    
    
       <button class="ui button" type="submit">Submit</button>
  
    </form>
    
  </div>

</div>

</div>



 <script>
   document.getElementById("countryCode").addEventListener("click", function(){
   document.getElementById("countryCode").value = ((document.getElementById("homeCountry").value).slice(0,2) ).toUpperCase();
});
 </script>
  

<% include ../partials/footer %>
